$h5-font-size: .7rem;
$h2-font-size: 1.8rem;

@import "../../../../node_modules/bootstrap/scss/bootstrap";

body{
  a{
    text-decoration: none;
    border-bottom: none;
    &:hover, &:active, &:focus{
      border-bottom-style: none;
    }
  }
  background: none;
  #page-wrapper{
    margin-top: 1.5rem;
    .featured-top{
      padding: 0;
      border-bottom: none;
      >aside{
        max-width: 100%;
        #block-views-block-slides-block-1{
          .content{
            margin-top: 0;
          }
        }
      }
    }
    #main-wrapper{
      @media (min-width: 851px){
        max-width: 100%;
        #main{
          margin-top: 0;
          #content{
            >section{
              padding: 0;
              >.region{
                >div{
                  >.content{
                    padding: 2rem 0;
                    h2{
                      font-weight: bold;
                      text-align: center;
                      .zh{
                        color: #1a58ab;
                      }
                    }
                    h5{
                      text-align: center;
                      padding-bottom: 2rem;
                      border-bottom: 1px solid #e2e2e2;
                    }
                    max-width: 1290px;
                    margin: auto;
                    .view-aboutus .views-row{
                      >div{
                        display: flex;
                        >div{
                          flex: 1 0 0%;
                          &:nth-child(1){
                            margin-right: 1rem;
                          }
                        }
                      }

                    }
                  }
                }
                #block-views-block-slides2-block-1{
                  color: #FFFFFF;
                  background-image: url("../img/bg.png");
                  h2, h5{
                    .zh{
                      color: #FFFFFF;
                    }
                    border-bottom: none;
                  }
                  .swiper{
                    .views-row{
                      >div{
                        >div:nth-child(2){
                          margin-top: .8rem;
                          a{
                            color: #FFFFFF;
                            font-size: 1.2rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.region.region-primary-menu{
  background-color: #1a58ab;
  ul.menu{
    li{
      a{
        background: none;
        color: #FFFFFF;
        text-shadow: none;
      }
    }
  }
  @media (min-width: 901px){
    ul.menu{
      display: flex;
      justify-content: space-between;
      max-width: 1290px;
      margin: auto;
      height: 75px;
      li{
        flex: 1 0 0%;
        display: flex;
        justify-content: center;
        border-right: 1px solid #3469b4;
        &:nth-child(1){
          border-left: 1px solid #3469b4;
        }
        a{
          display: flex;
          align-items: center;
          font-size: 1.2rem;
        }
      }
    }
  }
}

header#header{
  >div{
    max-width: 100%;
    .region-secondary-menu,
    .region-header{
      max-width: 1290px;
      margin: auto;
    }
    .region-secondary-menu{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }
    .region-header{
      display: flex;
      color: #000000;
      #block-fxkyss-branding{
        flex: 0 0 auto;
        margin-right: auto;
        .site-branding__text{
          .site-branding__name{
            a{
              color: #000000;
              font-size: 1.8rem;
              font-weight: bold;
            }
          }
          .site-branding__slogan{
            color: #000000;
          }
        }
      }
      #block-fxkyss-saomaguanzhu-2{
        .content{
          >div{
            display: flex;
            img{
              width: 80px;
              margin-right: 2rem;
            }
          }
        }
      }
      #icon-phone{
        padding: 1.7rem .5rem 0 0;
      }
      #block-fxkyss-zixundianhua{
        h2{
          position: unset !important;
          height: unset;
          color: #000000;
        }
        .content{
          >div{
            p{
              font-size: 1.5rem;
              color: #1a58ab;
            }
          }
        }
      }
    }
  }
}

.site-footer__bottom{
  position: relative;
  margin-top: 1rem;
  border-top: none;
  font-size: 1rem;
  .menu-item a{
   // border-bottom: none;
    padding: 0 2rem;
  }
  #block-fxkyss-youqinglianjie{
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
  }
  #block-fxkyss-footer{
    margin: 1rem 0 2rem 0;
  }
  #block-fxkyss-saomaguanzhu{
    position: absolute;
    bottom: 2rem;
    right: 0;
    .content{
      >div{
        display: flex;
        p::after{
          content: "扫描关注官方微信";
          display: inline-block;
          width: 1.2rem;
          padding: 0 .7rem;
          font-size: .6rem;
          line-height: .8rem;
        }
      }
    }
  }
}

#main-content{

}
